#frame {
  padding: 50px 0px;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
}

#image {
  height: 250px;
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}